<% if content.errors.any? %>
  <%= content.errors.full_messages.join(', ')%>
<% end %>

<%= form_with(model: content, local: true)  do |form| %>
<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, cols: 30, rows: 3 %>
</div>

<%= form.select :tags, options_for_select(current_user.tags.pluck(:title) , content.tags.pluck(:title)), {}, { class: 'select2 form-control', multiple: 'multiple' } %>


<div class="actions">
  <%= form.submit %>
</div>

<% end %>


<%= link_to 'Voltar', contents_path %>